html {
  font-family: "Inconsolata", monospace;
  font-weight: 700;
  font-size: 20px;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: #2c3e50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button:disabled {
  background: darkgrey;
}

.App-button {
  color: black;
  font-size: large;
  background: white;
  border-radius: 12px;
  padding: 12px;
  margin: 8px;
}

.App-Title {
  font-size: large;
  color: white;
  font-size: 50px;
}

.App-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
